.tab-btn-container {
  height: 5.416666666666667vh;
  width: 18.958333333333333vw;
  line-height: 5.416666666666667vh;
  text-align: center;
  border-radius: 100px;
}

.tab-btn-container-activ {
  background: linear-gradient(180deg, #88E7C9 -25.56%, rgba(136, 231, 201, 0.03) 117.78%);
}
