<div class="qcm-decision-container"
     fxLayout="row"
     fxLayoutAlign="center center">
  <div appDimSync
       syncDim="true"
       syncHeight="50.78125vh"
       syncWidthRatio="0.698076923076923"
       class="qcm-decision-choice"
       [style.transform]="'rotate(-19.62deg)'"
       [style.marginTop.vh]="10"
       (click)="selectChoice(etape.choices[0])"
       [ngClass]="{'qcm-decision-choice-activ': etape.choices[0]?.activ}"
       [style.zIndex]="2">
       <div class="qcm-decision-choice-text"
            [innerHTML]="etape.choices[0]?.value"></div>
      </div>
  <div appDimSync
       syncDim="true"
       syncHeight="50.78125vh"
       syncWidthRatio="0.698076923076923"
       (click)="selectChoice(etape.choices[1])"
       class="qcm-decision-choice"
       [style.marginTop.vh]="-10"
       [ngClass]="{'qcm-decision-choice-activ': etape.choices[1]?.activ}"
       [style.zIndex]="3">
       <div class="qcm-decision-choice-text"
            [innerHTML]="etape.choices[1]?.value"></div>
  </div>
  <div appDimSync
       syncDim="true"
       syncHeight="50.78125vh"
       syncWidthRatio="0.698076923076923"
       [style.zIndex]="4"
       class="qcm-decision-choice"
       [style.marginTop.vh]="10"
       (click)="selectChoice(etape.choices[2])"
       [ngClass]="{'qcm-decision-choice-activ': etape.choices[2]?.activ}"
       [style.transform]="'rotate(23.83deg)'">
       <div class="qcm-decision-choice-text"
            [innerHTML]="etape.choices[2]?.value"></div>
  </div>
</div>
