<div class="qcm-decision-container" fxLayout="row" fxLayoutAlign="center center">
  <div appDimSync syncDim="true" syncHeight="50.78125vh" syncWidthRatio="0.698076923076923"
       class="qcm-decision-choice" [style.transform]="'rotate(-19.62deg)'"
       [style.marginTop.vh]="10" (click)="selectChoice(etape.choices[0])"
       [style.zIndex]="2">Vous restez dans votre train jusqu'à Paris.</div>
  <div appDimSync syncDim="true" syncHeight="50.78125vh" syncWidthRatio="0.698076923076923"
       (click)="selectChoice(etape.choices[1])"
       class="qcm-decision-choice" [style.marginTop.vh]="-10" [style.zIndex]="3">Vous restez dans votre train jusqu'à Paris.</div>
  <div appDimSync syncDim="true" syncHeight="50.78125vh" syncWidthRatio="0.698076923076923"
       [style.zIndex]="4" class="qcm-decision-choice" [style.marginTop.vh]="10"
       (click)="selectChoice(etape.choices[2])"
       [style.transform]="'rotate(23.83deg)'">Vous restez dans votre train jusqu'à Paris.</div>
</div>
