<div appScene>
    <app-theme-header
        showIcon="true"
        appSceneElement
        [iconName]="headerIconName()"
        title="Etape n°{{(etapeIndex + 1)}}"
        sceneElWidth="100%"
        sceneElHeight="10.44921875vh"></app-theme-header>
    <app-theme-progress appSceneElement
                        *ngIf="showProgress()"
                        sceneElWidth="85.5555555555556vw"
                        sceneElHeight="5.37109375vh"
                        sceneElTop="12.79296875vh"
                        [progress]="computeProgress()"
                        sceneElCenterH="true"></app-theme-progress>
    <div appSceneElement
         sceneElWidthRatio="1.80469897209985"
         sceneElHeight="66.50390625vh"
         sceneElTop="20.41015625vh"
         sceneElCenterH="true"
         [style.boxShadow]="showBoxShadow()">
      <router-outlet></router-outlet>
    </div>
    <app-theme-insert appSceneElement
                      sceneElWidth="62.7083333333333vw"
                      sceneElHeight="66.6015625vh"
                      sceneElTop="20.3125vh"
                      sceneElLeft="37.2916666666667vw"
                      sceneElInsertX="true"
                      [insertText]="etape.insertText"
                      *ngIf="showInsert()"
                      (opened)="insertOpened=true;"></app-theme-insert>
    <app-theme-prevnext
        appSceneElement
        sceneElWidth="90vw"
        sceneElHeight="9vh"
        sceneElTop="89.55078125vh"
        sceneElCenterH="true"
        [customBtnEnabled]="insertOpened"
        [customBtnLabel]="computeCustomBtn()"
        [previousRoute]="computePrevious()"
        [nextRoute]="computeNext()"
        (customBtnClicked)="onClickCustomBtn()"></app-theme-prevnext>
</div>

