.theme-card-container {
  position: relative;
  width: 24.583333333333333vw;
  height: 26.166666666666667vh;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(9, 53, 122, 0.3);
  background-size: cover;
}

.theme-card-header-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 44.9%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.45) 123.04%);
  border-radius: 8px 8px 0px 0px;
}

/*
.theme-card-header-badge {
  position: absolute;
  right: 3.22%;
  top: 3.82%;
  height: 5vh;
  width: 5vh;
  background-color: #09357A;
  border-radius: 2.916666666666667vh;
  font-family: 'Frutiger LT 55 Roman';
  font-size: 3vh;
  line-height: 5vh;
  text-align: center;
  color: #FFFFFF;
}
*/

.theme-card-header-badge-picto {
  position: absolute;
  right: 3.22%;
  top: 3.82%;
  height: 5vh;
  width: 5vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.theme-card-header-title {
  position: absolute;
  left: 5.57%;
  right: 15%;
  top: 10.99%;
  bottom: 61.26%;
  font-family: 'Frutiger LT 65 Bold';
  font-size: 2.333333333333333vh;
  line-height: 3.25vh;
  color: #09357A;
  font-weight: bold;
}

.theme-card-header-btn-intro {
  position: absolute;
  width: 10.104166666666667vw;
  height: 3.666666666666667vh;
  left: 1.354166666666667vw;
  top: 21.166666666666667vh;
  background: #FFFFFF;
  border-radius: 100px;
  text-align: center;
  line-height: 3.666666666666667vh;
  font-size: 1.302083333333333vw;
  color: #09357A;
  font-weight: bold;
}

.theme-card-header-btn-mission {
  position: absolute;
  width: 10.104166666666667vw;
  height: 3.666666666666667vh;
  left: 13.59375vw;
  top: 21.166666666666667vh;
  background: #FFFFFF;
  border-radius: 100px;
  text-align: center;
  line-height: 3.666666666666667vh;
  font-size: 1.302083333333333vw;
  color: #09357A;
  font-family: 'Frutiger LT 65 Bold';
}
