.etapes-qcm-resultat-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.etapes-qcm-resultat-hint-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: #FFFFFF;
  opacity: 0.95;
  border-radius: 20px 20px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.etapes-qcm-resultat-logo {
  height: 8.3984375vh;
  width: 8.3984375vh;
  line-height: 8.3984375vh;
  position: absolute;
  top: -4.6vh;
  left: 50%;
  background: white;
  transform: translateX(-50%);
  border-radius: 50%;
}

.etapes-qcm-resultat-logo > * {
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.etapes-qcm-resultat-hint-divider {
  height: 80%;
  border: 3px solid #A1006B;
}

.etapes-qcm-resultat-face-name {
  font-family: Avenir-Heavy;
  font-weight: 900;
  font-size: 1.953125vh;
  line-height: 1.5625vh;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #A1006B;
}

.etapes-qcm-resultat-hint-text {
  font-family: Avenir-Heavy;
  font-style: normal;
  font-weight: 900;
  font-size: 2.734375vh;
  letter-spacing: 0.15px;
  color: #3C3732;
}
