<div class="etapes-image-interactive-container">
  <img class="etapes-image-interactive-container-bg"
       src="./assets/mission/{{etape.backgroundImage}}.png">
  <div class="etapes-image-interactive-indication-zone"
       [ngClass]="{'etapes-image-interactive-indication-zone-dev': mission.devMode}"
       *ngFor="let indice of etape.indications" (click)="showIndice(indice)"
       [style.left]="computeX(indice)" [style.top]="computeY(indice)"
       [style.height]="computeHeight(indice)" [style.width]="computeWidth(indice)">
       <img class="etapes-image-interactive-indice"
        src="./assets/icons/interrest_point_anchor.png"
        [style.opacity]="computeIndicationVisibility(indice)">
  </div>
</div>
<div  appSceneElement *ngIf="activeIndice"
      sceneElWidthRatio="1.79147207241075"
      [sceneElHeight]="activeIndice.image ? '67.5400390625vh' : '40vh'"
      sceneElCenterV="true"
      sceneElCenterH="true"
      class="etapes-image-interactive-modal">
      <img appSceneElement
           sceneElTop="15px"
           sceneElRight="15px"
           class="etapes-image-interactive-modal-close"
           src="./assets/icons/cross.png"
           (click)="closeModal()">
      <div appSceneElement
          sceneElWidth="75.8676351896691%"
          sceneElHeight="71.42753864172%"
          sceneElTop="7%"
          *ngIf="activeIndice.image"
          sceneElCenterH="true"
          class="etapes-image-interactive-modal-img-holder">
          <img src="./assets/mission/{{activeIndice.image?.file}}.png"
               [style.position]="'relative'"
               [style.top.%]="activeIndice.image?.top"
               [style.left.%]="50"
               [style.transform]="'translateX(-50%)'"
               [style.height.%]="activeIndice.image?.height">
      </div>
      <div appSceneElement
           sceneElWidth="90%"
           [sceneElHeight]="activeIndice.image ? '15%' : ''"
           [sceneElTop]="activeIndice.image ? '80%' : ''"
           [sceneElCenterV]="activeIndice.image ? false : true"
           sceneElCenterH="true"
           class="etapes-image-interactive-modal-text"
           [innerHTML]="activeIndice.text"></div>
</div>
