<div class="etapes-image-interactive-container">
  <img class="etapes-image-interactive-container-bg"
       src="./assets/mission/{{etape.backgroundImage}}.png">
  <div class="etapes-image-interactive-indication-zone"
       [ngClass]="{'etapes-image-interactive-indication-zone-dev': mission.devMode}"
       *ngFor="let indice of etape.indications" (click)="showIndice(indice)"
       [style.left]="computeX(indice)" [style.top]="computeY(indice)"
       [style.height]="computeHeight(indice)" [style.width]="computeWidth(indice)">
       <img class="etapes-image-interactive-indice"
        src="./assets/icons/interrest_point_anchor.png"
        [style.opacity]="computeIndicationVisibility(indice)">
  </div>
</div>
<div  appSceneElement *ngIf="activeIndice"
      sceneElWidthRatio="1.79147207241075"
      [sceneElHeight]="(activeIndice.image || activeIndice.video)? '67.5400390625vh' : ''"
      sceneElCenterV="true"
      sceneElCenterH="true"
      class="etapes-image-interactive-modal">
      <img appSceneElement
           sceneElTop="15px"
           sceneElRight="15px"
           class="etapes-image-interactive-modal-close"
           src="./assets/icons/cross.png"
           (click)="closeModal()">
      <div class="etapes-image-interactive-modal-inner"
        fxLayout="column" fxLayoutAlign="end center">
        <div style="position: relative; width: 75%;" fxFlex *ngIf="activeIndice.video">
            <app-theme-video-player
              appSceneElement
              sceneElWidth="100%"
              sceneElCenterV="true"
              [videoPath]="videoPath(activeIndice)"
              sceneElCenterH="true"></app-theme-video-player>
        </div>
        <div style="width: 75%;" fxFlex [style.background]="computeImageAsBg()" *ngIf="activeIndice.image"></div>
        <div *ngIf="activeIndice.text" class="etapes-image-interactive-modal-text" [innerHTML]="activeIndice.text"></div>
      </div>
</div>
