.theme-bulle-container {
  position: relative;
  height: var(--app-theme-bulle-height);
  width: var(--app-theme-bulle-height);
  border-radius: 50%;
}

.theme-bulle-container-triangle {
  position: absolute;
  transform: rotate(-20deg);
  top: calc(var(--app-theme-bulle-height) * 0.2);
  right: calc(var(--app-theme-bulle-height) * -0.15);
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #88E7C9;
  border-bottom: 50px solid transparent;
}
