.theme-progress-outer {
  position: relative;
  border: 5px solid #3C3732;
  box-sizing: border-box;
  border-radius: 9.765625vh;
}

.theme-progress-gauge {
  position: absolute;
  background: linear-gradient(180deg, #A1006B 0%, rgba(161, 0, 107, 0.35) 100%);
  border-radius: 9.765625vh;
  width: 0%;
  height: 100%;
  transition: width 1.2s linear;
}

.theme-progress-icon {
  position: absolute;
  background: #3C3732;
  border-radius: 9.765625vh;
  top: -5px;
  left: -5px;
  background-image: url(./../../../assets/icons/progress_icon.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
