<div appScene>
    <app-theme-header
        showIcon="true"
        appSceneElement
        title="Souvenez-vous"
        sceneElWidth="100%"
        sceneElHeight="10.44921875vh"></app-theme-header>
    <div appSceneElement
        sceneElHeight="65vh"
        sceneElWidth="84.6527777777778vw"
        sceneElTop="22vh"
        sceneElCenterH="true"
        style="overflow-y: auto;">
        <div class="msg-cles-grid-container">
            <app-theme-card-msg-cle [activMessage]="message" [index]="idx"
              *ngFor="let message of mission.keyMessages; let idx = index"></app-theme-card-msg-cle>
        </div>
      </div>
    <app-theme-prevnext
        appSceneElement
        sceneElWidth="18vh"
        sceneElHeight="9vh"
        sceneElTop="89.55078125vh"
        sceneElCenterH="true" [previousRoute]="'fin'"></app-theme-prevnext>
</div>
