.theme-card-doc-title {
  width: calc(var(--app-theme-card-doc-width));
  height: calc(var(--app-theme-card-doc-height) * 0.16);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 100px;
  text-align: center;
  line-height: calc(var(--app-theme-card-doc-height) * 0.165);
}

.theme-card-doc-img {
  margin-bottom: calc(var(--app-theme-card-doc-height) * 0.06230529595015576);
  width: calc(var(--app-theme-card-doc-width) * 0.72386058981233244);
  height: calc(var(--app-theme-card-doc-height) * 0.6853582554517134);
  background: center / contain no-repeat url(../../../assets/icons/doc.png);
}

.theme-card-doc-idx {
  width: calc(var(--app-theme-card-doc-width) * 0.22);
  height: calc(var(--app-theme-card-doc-width) * 0.22);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: calc(var(--app-theme-card-doc-width) * 0.24);
  margin-top: calc(var(--app-theme-card-doc-height) * 0.09);
}

.theme-card-doc-idx-visited {
  background: no-repeat center / 75%  url(../../../assets/icons/eye.png), rgba(255, 255, 255, 0.9);
}
