<div class="theme-card-sol-container" fxLayout="column-reverse" fxLayoutAlign="start center" [style.background]="background()">
  <div class="theme-card-sol-btn app-btn-label" (click)="solutionSelectedHandler(index)">Voir la solution</div>
  <div class="theme-card-sol-panel" fxLayout="row" fxLayoutAlign="center center">
    <div class="theme-card-sol-panel-txt app-title-medium">{{ activSolution.title }}</div>
  </div>
  <div class="theme-card-sol-badge app-title-verybig">{{ index + 1 }}</div>
</div>
