.stepper-container {
  position: absolute;
  width: 88.541666666666667vw;
  height: 10.916666666666667vh;
  top: 83.833333333333333vh;
  left: 5.677083333333333vw;
  z-index: 1;
}

.stepper-previous {
  position: absolute;
}

.stepper-next {
  position: absolute;
  right: 1.25vw;
  top: 39.916666666666667vh;
  background: rgba(9, 53, 122, 0.7);
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.stepper-line {
  position: absolute;
  left: 5.5%;
  right: 5.89%;
  top: 41.25%;
  bottom: 55%;
  background: #09357A;
  border: 3px solid #09357A;
}

.stepper-index-badge-container {
  position: absolute;
  left: 5.23vh;
  right: 5vh;
  top: 2.3vh;
  bottom: 3.666666666666667vh;
}

.stepper-index-badge {
  background:white;
  box-shadow: 0px 0px 10px #9FB1D5;
  width: 2.9vw;
  height: 2.9vw;
  border-radius: 7vw;
  line-height: 3vw;
  color: #09357A;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  transition: background-color .4s ease-out;
}

.stepper-index-badge-activ {
  background: #09357A;
  color: white;
}

.stepper-index-badge-title {
  position: relative;
}

.stepper-index-badge-title-text {
  position: absolute;
  top: -0.8vw;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}
