.postit-container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  margin: 0 12px 24px 12px;
  box-shadow: 0px 0px 15px rgba(9, 53, 122, 0.2);
}

.postit-color-badge-container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.postit-color-badge {
  border-radius: 50%;
  width: 4vh;
  min-width: 4vh;
  height: 4vh;
  min-height: 4vh;
}

.postit-color-badge-default {
  background-color: white;
  border: 1px solid #09357A;
}

.postit-color-badge-arrow {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  background-size: contain;
  background-image: url(../../../assets/icons/arrowdown.png);
  background-repeat: no-repeat;
}

.postit-color-badge-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.postit-color-badge-dropdown-item {
  padding: 15px;
}

.postit-color-badge-title {
  display: inline-block;
  white-space: nowrap;
}

.postit-categorie-title {
  margin-left: 15px;
  line-height: 2.5vh;
  height: 2.5vh;
  border: none;
  resize: none;
  text-overflow: ellipsis;
  width: 75%;
}

.postit-quit {
  width: 2.29166667vw;
  height: 2.29166667vw;
}
.postit-content {
  border: none;
  resize: none;
  margin: 2vh;
  line-height: 2.833333333333333vh;
  display: block;
  width: 85%;
}

.postit-categorie-counter {
  margin-top: 20px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(9, 53, 122, 0.3);
  border-radius: 5px;
  line-height: 2.083333333333333vh;
}

.postit-categorie-arrow-lister-idees {
  margin-top: 15px;
  height: 12px;
}
