<div appScene sceneWallpaper="./assets/images/test_decorC1.png">
    <app-theme-header appSceneElement
                      sceneElWidth="100%"
                      sceneElHeight="10.44921875vh"></app-theme-header>
    <img src="./assets/images/Exclude.png"
         appSceneElement
         sceneElCenterH="true"
         sceneElHeight="48.33984375vh"
         sceneElTop="22.8515625vh">
    <div class="intro-index-entry"
         appSceneElement
         sceneElCenterH="true"
         sceneElHeight="14.6484375vh"
         sceneElWidth="14.6484375vh"
         sceneElTop="75vh"
         (click)="goToIntro()">
      <div class="intro-index-entry-label">Lancer la mission</div>
    </div>
</div>

