.img-bg-center-content {
  width: 100%;
  height: 100%;
}

.img-bg-img {
  width: 92.9166667vw;
  height: 80.8333333vh;
  border-radius: 40px;
  background-size: 92.9166667vw 80.8333333vh;
  margin-top: -5vh;
}

.img-bg-img-full {
  margin-top: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.img-bg-img-overlay {
  margin-top: -5vh;
  border-radius: 40px;
  background: linear-gradient(180deg, rgba(148, 245, 210, 0.3) 0%, rgba(154, 227, 210, 0.3) 100%);
}

.img-bg-img-overlay-full {
  width: 100% !important;
  height: 100% !important;
}

.img-bg-img-opacity {
  opacity: .15;
  margin-top: 0 !important;
}
