/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: white;
}

* {
  -webkit-user-select: none; /* Safari 3.1+ */
  user-select: none; /* Standard syntax */
  box-sizing: border-box;
}
